.ipynb_checkpoints/
.idea/
.env

*.pth
*.csv
*.pyc

source_files/
pdf_files/
extracted_images/
extracted_tables/
extracted_figures/
data/

TexSoup/

dataset/zipping_papers.ipynb
notebooks/qwen_LLM_Acc_evaluation.txt
notebooks/qwenMQM_evaluation.txt
